<div class="full-height bg-img">
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 large-centered columns show-footer">

      <%@star.attributes.each do |attr,value|%>
        <%next if attr == "id"%>
        <%value = "Unknown" if value.nil?%>
        <div class="row floating-container">
          <%=attr.titleize + ": #{value}"%>
        </div>
      <%end%>

    </div>
  </div>
</div>
