<div class="overlay-container">
  <div class="row text-center overlay small-centered small-12 columns header">
    <h2 class="title">Apex</h2>
    <p></p>
  </div>
  <div class="row text-center overlay small-centered small-12 columns">
    <% if user_signed_in? %>
      <%= button_to "Find Your Apex", edit_user_registration_path, method: "patch", class: "success button" %>
    <% else %>
      <%= button_to "Log in to find your Apex", new_user_session_path, class: "success button" %>
    <% end %>
  </div>
</div>

<%if false%>

<div class="row">
  <div class="large-6 large-push-2 columns">
    <div class="circle-bg personal-star">
      <p>Find Your Apex!</p>
    </div>
  </div>
  <div class="large-6 large-pull-2 columns">
    <div class="circle-bg random-star">
      <p>Find A Random Star!</p>
    </div>
  </div>
</div>

<%end%>
