<img src="/assets/blue-eclipse.jpg" class="float-center background-image"/>
</br>
<div class="overlay-container">
  <div class="row">
    <div class="text-center overlay small-centered">
      <% if user_signed_in? %>
        <div class="large-4 columns">
          <%= button_to "Find Your Apex", edit_user_registration_path, method: "patch", class: "success button round" %>
        </div>
      <% else %>
        <div class="large-4 columns">
          <%= button_to "Log in to find your Apex", new_user_session_path, class: "success button round" %>
        </div>
      <% end %>
      <div class="large-4 columns">
        <%= button_to "Randomize!", star_path(@star), method: "get", class: "alert button radius" %>
      </div>
    </div>
  </div>
</div>
