
.attribute {
    font-size: 1rem;
    border-radius: 15px;
    border: 2px solid;
    padding:5px;
    margin:5px;

    &:hover {
      background-color: rgba(150, 0, 255, 0.6);
    }
}

.star-attribute {
    font-size: 1rem;
    border-radius: 15px;
    border: 2px solid;
    padding:5px;
    margin:5px;

    &:hover {
      background-color: rgba(150, 0, 255, 0.6);
    }
}
.description {
    font-size: 1rem;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 2px solid;
    display:none;
    text-shadow: 2px 2px #000000;
}

.description-title {
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.transit-desc {
  font-size: 1rem;
  border: none;
}

.selected {
  background-color: rgba(100, 0, 255, 0.5);
}

.text-right {
  float:right;
  position:inherit;
}
