.accordion {
  color: white;
}

.accordion-title {
  font-size: 200%;
}

.accordion-content {
  font-size: 120%;
}

li {
  padding: 100;
  list-style-type: none;
}

.planet-header {
  color: white !important;
}
