.accordion {
  color: white;
}

.accordion-title {
  font-size: 200%;
}

.accordion-content {
  font-size: 120%;
}

li {
  padding: 100;
  list-style-type: none;
}

.star-header {
  height: 3rem;
  padding-top: 2rem;
}
