// for presentation only
body {marging-top: 2rem;}

$menu-background: rgba(0, 0, 0, 0.2);

.title-bar {
  background: $menu-background;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

        a {
          color: #fff;
      }
    }
  }
}

.menu-text {
  color: #fff;

  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #4e4e4e;
    }
  }
}
